* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.todo-container {
  margin: 0 auto;
  width: 40vw;
  list-style: none;
}

/* TodoListItem styles */
.todo-list-item {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  height: auto;
}

.main-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-info > div > label {
  margin-left: 5px;
}

.priority-level {
  display: block;
  border-radius: 5px;
  width: 14%;
  font-size: 12px;
  color: white;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

.low-priority {
  background-color: #40c057;
}

.medium-priority {
  background-color: #fab005;
}

.high-priority {
  background-color: #fa5252;
}